<h1><%= full_name(@patient) %></h1>

<%= link_to "Add Prescription", new_patient_prescription_path(@patient) %>

<h3>Prescriptions</h3>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>

    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>

  </tbody>
  <thead>
  <tr>
    <th>Dosage / Schedule</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>

  </tbody>
  <thead>
  <tr>
    <th>Dates</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>

  </tbody>
</table>